h1{
    text-align: center;
    padding-top: 1rem;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.container{
    border: 1px solid black;
    display: grid;
    text-align: center;
    justify-content: center;
}
.row > button{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
button:hover{
    background-color: black;
    color: white;
}
